<h1>Admin</h1>
<ul class="admin">
  	<li><%= link_to "Write match report", new_admin_post_path %></li>
  	<li><%= link_to "Reports", admin_posts_path %></li>
    <li><%= link_to "Players", admin_users_path %></li>
    <li><%= link_to "Seasons", admin_seasons_path %></li>
</ul>
<p>Find me in app/views/admin/admin/index.html.erb</p>
